* {padding: 0; margin: 0; list-style: none; text-decoration: none; box-shadow: none; border-width: 0; background: none; box-sizing: border-box;}

body, html {width: 100%; height: auto; font-size: 16px; background-color: #f2f2f2;}

.container {width: 100%; height: auto; position: relative;}
.contWrap {width: 100%; height: auto; position: relative; padding: 30px;}

.txt {font-size: 1rem; color: #4a4a4a; font-weight: 400; letter-spacing: -0.5px; line-height: 1.5;}
.txt.small {font-size: 0.875rem;}
.txt.big {font-size: 1.25rem;}
.txt.bold {font-weight: 800;}
.txt.sbold {font-weight: 600;}
.txt.medium {font-weight: 500;}
.txt.light {font-weight: 300;}
.color_grey {color: #888;}

.loader {width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; align-self: center;}

.movies {width: 100%; height: auto;
    display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: flex-start;}
